@import url(reset.css);

.main {
    margin: auto;
    width: 1920px;
    height: 100vh;
}
.header-content {
    background-image: url(../images/sections-background/section-1-header.jpg);
    height: 1012px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    background: rgba(94, 93, 88, 0.6);
}

.header-nav {
    width: 1160px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-span {
    margin-left: -45px;
    font-size: 40px;
    padding-right: 19px;
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
}

.header-nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.header-nav-list {
    text-decoration: none;
    margin-right: 21px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.option-4th {
    display: flex;
    width: 1920px;
    margin: 10px auto;
}
.options {
    width: 482px;
    height: 377px;
    text-align: center;
}

.dark-green {
    background-color: #1c2a33;
}

.light-green {
    background-color: #18cfab;
}
.block-1 {
    background-image: url(../images/option-4/block-1.png);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.block-2 {
    background-image: url(../images/option-4/block-2.png);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.block-3 {
    background-image: url(../images/option-4/block-3.png);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.block-4 {
    background-image: url(../images/option-4/block-4.png);
    background-repeat: no-repeat;
    background-position: center 35%;
}

.option-4th-span-green {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18cfab;
    position: relative;
    top: 65%;
}

.option-4th-span-white {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 65%;
}

.service {
    width: 1160px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.service-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    margin: 73px auto 101px;
}
